<!-- ______________________ HEADER _______________________ -->
<style>
.logo{
  background-image:url("http://placehold.it/350x150");
  background-repeat:no-repeat;
}

</style>
<header>this is header
<div class="logo"></div>
</header>
